<div>
  <h1>
    Happy Room Decors
  </h1>
</div>
<div *ngIf="!name; else forminfo">
<h1>Please enter your details.</h1>

  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <br><br>
        <label>UserName
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please enter a valid Name</div>
        <div class="dividerLong"></div>
        <label>Password
          <textarea  formControlName="description"></textarea>
        </label>
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">Password must be atleast 5 characters long.</div>
        <h1></h1>
        <div class="dividerShort"></div>

        <label for="validate"></label>
        <div class="dividerShort"></div>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> Accept to T&C.
        
        <input type="submit" class="button expanded" value="Submit" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <h2> User :  {{ name }} </h2>
  <div class = "container">
    <router-outlet></router-outlet>
  </div>
</ng-template>

